.calendarCell {
    width: 13%;
    height: 4rem;
    border: solid;
    border-color: black;
    margin: 1px;
    background-color: #0b515b;
    color: white;
}
.dayLabel {
    width: 13%;
    height: 2rem;
    border: ridge;
    border-color: green;
    margin: 1px;
    background-color: #33c433;
    font-weight: bold;
}
.emptyCell {
    width: 13%;
    height: 4rem;
    margin: 1px;
    background-color: #052428;
}